html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: $text-default-light;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input,
textarea {
  font-size: 1rem !important;
  font-family: "Montserrat", sans-serif !important;
}
