// === COLORS ===

// Gradient
$gradient-dark-1: hsl(44, 95, 40);
$gradient-light-1: hsl(44, 64, 65);
$gradient-dark-2: hsl(44, 100, 27);
$gradient-light-2: hsl(44, 96, 40);

// Text
$text-default-light: hsl(0, 0, 95);
$text-default-dark: hsla(0, 0, 95, 75%);

// Background
$bg-default-dark: hsl(0, 0, 15);
$bg-default-dark-2: hsl(0, 0, 11);
$bg-default-dark-3: hsl(0, 0, 5);
$bg-default-dark-4: hsl(0, 0, 4);

// Form
$form-border: hsl(44, 13, 58);
$form-success: hsl(120, 61, 50);
$form-error: hsl(348, 83, 47);

// Border
$border-light: hsla(0, 0, 95, 30%);

// Logos
$logo-grey: hsla(0, 0, 95, 70%);
